<p id="notice"><%= notice %></p>

<p>
  <b>Ipaddress:</b>
  <%= @visit.ipaddress %>
</p>

<p>
  <b>City:</b>
  <%= @visit.city %>
</p>

<p>
  <b>Country:</b>
  <%= @visit.country %>
</p>


<%= link_to 'Edit', edit_visit_path(@visit) %> |
<%= link_to 'Back', visits_path %>
